.loginforgot {
    position: relative;
    background: #FFFFFF;
    width: 100%;
    height: 100vh;
    margin: auto;
    justify-content: center;
    top: 0px;

}


.loginforgot>.barra-alta {

    width: 100%;
    height: 65px;
    left: 0px;
    top: 0px;
    display: flex;

    background: #FED141;
}

.Logo-alta {

    position: absolute;
    width: 103px;
    height: 20px;
    left: 252px;
    top: 10px;


}

.Logo-volta > svg {

    width: 30px;
    height: 30px;
    color: #fff;

}

.Logo-volta {

    position: absolute;
    width: 30px;
    height: 30px;
    left: 20px;
    top: 9px;

}

.App-texto>b {
    color: #000;
}



.App-texto-forgot>h3 {

    position: relative;
    width: 700px;
    height: 90px;
    left: 0px;
    top: -50px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 45px;
    
    color: #424D59;
    

}

.App-texto-forgot-email>p {

    position: relative;
    width: 700px;
    height: 90px;
    left: 0px;
    top: 0px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 45px;
    
    color: #929DA9;
    

}

.App-texto-forgot>p {

    position: absolute;
    width: 700px;
    height: 104px;
    left: 0px;
    top: -35px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    /* or 167% */
    
    letter-spacing: 0.1px;
    
    color: #929DA9;

}

.App-texto-forgot {

    position: relative;
    width: 700px;
    height: 54px;
    left: 0px;
    top: 0px;
    margin: auto;
    text-align: left;
    display: grid;
}

.App-texto-forgot-email {

    position: relative;
    width: 380px;
    height: 54px;
    left: 0px;
    top: 0px;
    margin: auto;
    text-align: left;
    display: grid;
}


#basic-addon1{
    background-color:#fff;
    border: #fff;
    box-shadow: 0px 2px 0px 0px #000;
    border-radius: 0px;

}
.form-control{
    background-color: #fff;
    border: #fff !important;
    box-shadow: 0px 2px 0px 0px #000;
    border-radius: 0px !important;

}

svg{
    color: #FED141;
}
.esquece-senha{
    position: relative;
width: 175px;
height: 18px;
left: 195px;
top: -10px;
text-align:right ;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 18px;
/* identical to box height */
color: #424D59;
}

.loginforgot>.form-forgot > form > .mb-3.input-group{
    width: 400px;

}

.loginforgot>.form-forgot > form > button{

    position: relative !important;
    left: -200px !important;

}

.loginforgot>.form-forgot > form{

    flex-direction: column;
    width: 700px;
    height: 300px;
    position: relative;

}



.loginforgot>.form-forgot > form > button{

    position: relative;
    top: 20px;
    left: -40px;
    
}

.loginforgot>.form-forgot{


    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fff;


}


.button-home{
    position: relative;
    width: 300px;
    height: 45px;
    top: 10px;
    margin: auto;
    display: grid;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    
    color: #FFFFFF;
    
    background: #FED141 !important;
    border-radius: 2px;
    border-color: #FED141 !important;
    border-radius: 2px;
}

.button-prosseguir{
    position: relative;
    width: 300px;
    height: 45px;
    top: 195px;
    margin: auto;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    
    color: #FFFFFF;
    
    background: #FED141 !important;
    border-radius: 2px;
    border-color: #FED141 !important;
}

.criar{
position: relative;
width: 300px;
height: 20px;
left: 0;
margin: auto;
top: 35px;

font-family: 'Nunito';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 20px;

color: #424D59;
}

.form-forgot {
    position: relative;
    width: 380px;
    height: 85px;
    left: 0px;
    top: 0px;
    margin: auto;
    display: grid;

}

.loginforgot>.barra2 {

    position: absolute;
    width: 425px;
    height: 15px;
    left: 0px;
    top: 797px;

    background: #FED141;
}


@media  (max-width:425px) {

    
    .loginforgot {
        position: relative;
        background: #FFFFFF;
        width: 425px;
        height: 900px !important;
        margin: auto;
        justify-content: center;
        top: 10px;
    
    }
    
    
    .loginforgot>.barra-alta {
    
        position: absolute;
        width: 425px;
        height: 65px;
        left: 0px;
        top: -10px;
        display: flex;
    
        background: #FED141;
    }
    
    .Logo-alta {
    
        position: absolute;
        width: 103px;
        height: 20px;
        left: 252px;
        top: 10px;
    
    
    }
    
    .Logo-volta > svg {
    
        width: 30px;
        height: 30px;
        color: #fff;
    
    }
    
    .Logo-volta {
    
        position: absolute;
        width: 30px;
        height: 30px;
        left: 20px;
        top: 9px;
    
    }
    
    .App-texto>b {
        color: #000;
    }
    
    
    
    .App-texto-forgot>h3 {
    
        position: relative;
        width: 203px;
        height: 90px;
        left: 0px;
        top: -100px;
        
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 45px;
        
        color: #424D59;
        
    
    }
    
    .App-texto-forgot-email>p {
    
        position: relative;
        width: 203px;
        height: 90px;
        left: 0px;
        top: 0px;
        
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 45px;
        
        color: #929DA9;
        
    
    }
    
    .App-texto-forgot>p {
    
        position: absolute;
        width: 334px;
        height: 104px;
        left: 0px;
        top: -35px;
        
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 25px;
        /* or 167% */
        
        letter-spacing: 0.1px;
        
        color: #929DA9;
    
    }
    
    .App-texto-forgot {
    
        position: relative;
        width: 380px;
        height: 54px;
        left: 0px;
        top: -30px;
        margin: auto;
        text-align: left;
        display: grid;
    }
    
    .App-texto-forgot-email {
    
        position: relative;
        width: 380px;
        height: 54px;
        left: 0px;
        top: 0px;
        margin: auto;
        text-align: left;
        display: grid;
    }
    
    
    #basic-addon1{
        background-color:#fff;
        border: #fff;
        box-shadow: 0px 2px 0px 0px #000;
        border-radius: 0px;
    
    }
    .form-control{
        background-color: #fff;
        border: #fff !important;
        box-shadow: 0px 2px 0px 0px #000;
        border-radius: 0px !important;
    
    }
    
    svg{
        color: #FED141;
    }
    .esquece-senha{
        position: relative;
    width: 175px;
    height: 18px;
    left: 195px;
    top: -10px;
    text-align:right ;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
    /* identical to box height */
    color: #424D59;
    }
    .loginforgot>.form-forgot > form > button{

        position: absolute;
        margin: auto;
        bottom: 0px;
        top: 1-00px;
        left: 0px !important;


    }

    .form-forgot > form > .mb-3.input-group {
        width: 370px !important;
    }

    .loginforgot>.form-forgot > form > button {
        position: absolute;
        margin: auto;
        bottom: 0px;
        top: 250px;
        left: 0px !important;
    }

    .loginforgot>.form-forgot > form {
        flex-direction: column;
        width: 370px;
        height: 600px;
        top: -60px;
        position: relative;

    }
    
    .loginforgot>.form-forgot{
    
        width: 370px;
        height: 500px;
        position: relative;
        margin-top: 0px !important;
        left: -3px;
    }
    
    
    .button-home{
        position: relative;
        width: 300px;
        height: 45px;
        top: 10px;
        margin: auto;
        display: grid;
        
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        
        color: #FFFFFF;
        
        background: #FED141 !important;
        border-radius: 2px;
        border-color: #FED141 !important;
        border-radius: 2px;
    }
    
    .button-prosseguir{
        position: relative;
        width: 300px;
        height: 45px;
        top: 195px;
        margin: auto;
        
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        
        color: #FFFFFF;
        
        background: #FED141 !important;
        border-radius: 2px;
        border-color: #FED141 !important;
    }
    
    .criar{
        position: relative;
    width: 300px;
    height: 20px;
    left: 0;
    margin: auto;
    top: 35px;
    
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    
    color: #424D59;
    }
    
    .form-forgot {
        position: relative;
        width: 380px;
        height: 85px;
        left: 0px;
        top: 390px;
        margin: auto;
        display: grid;
    
    }
    
    .loginforgot>.barra2 {
    
        position: absolute;
        width: 425px;
        height: 15px;
        left: 0px;
        top: 797px;
    
        background: #FED141;
    }
    


}



@media  (max-width:991px) and (min-width:426px) {

    
    .loginforgot {
        position: relative;
        background: #FFFFFF;
        width: 991px;
        height: 900px !important;
        margin: auto;
        justify-content: center;
        top: 10px;
    
    }
    
    
    .loginforgot>.barra-alta {
    
        position: absolute;
        width: 991px;
        height: 85px !important;
        left: 0px;
        top: -10px;
        display: flex;
    
        background: #FED141;
    }
    
    .Logo-alta {
    
        position: absolute;
        width: 103px;
        height: 20px;
        left: 252px;
        top: 10px;
    
    
    }
    
    .Logo-volta > svg {
    
        width: 30px;
        height: 30px;
        color: #fff;
    
    }
    
    .Logo-volta {
    
        position: absolute;
        width: 30px;
        height: 30px;
        left: 20px;
        top: 9px;
    
    }
    
    .App-texto>b {
        color: #000;
    }
    
    
    
    .App-texto-forgot>h3 {
    
        position: relative;
        width: 600px;
        height: 90px;
        left: 0px;
        top: -100px;
        
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 45px;
        line-height: 45px;
        
        color: #424D59;
        
    
    }
    
    .App-texto-forgot-email>p {
    
        position: relative;
        width: 600px;
        height: 90px;
        left: 0px;
        top: 0px;
        
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 45px;
        
        color: #929DA9;
        
    
    }
    
    .App-texto-forgot>p {
    
        position: absolute;
        width: 600px;
        height: 104px;
        left: 0px;
        top: -35px;
        
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-size: 25px;
        line-height: 25px;
        /* or 167% */
        
        letter-spacing: 0.1px;
        
        color: #929DA9;
    
    }
    
    .App-texto-forgot {
    
        position: relative;
        width: 600px;
        height: 54px;
        left: 0px;
        top: -30px;
        margin: auto;
        text-align: left;
        display: grid;
    }
    
    .App-texto-forgot-email {
    
        position: relative;
        width: 380px;
        height: 54px;
        left: 0px;
        top: 0px;
        margin: auto;
        text-align: left;
        display: grid;
    }
    
    
    #basic-addon1{
        background-color:#fff;
        border: #fff;
        box-shadow: 0px 2px 0px 0px #000;
        border-radius: 0px;
    
    }
    .form-control{
        background-color: #fff;
        border: #fff !important;
        box-shadow: 0px 2px 0px 0px #000;
        border-radius: 0px !important;
    
    }
    
    svg{
        color: #FED141;
    }
    .esquece-senha{
        position: relative;
    width: 175px;
    height: 18px;
    left: 195px;
    top: -10px;
    text-align:right ;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
    /* identical to box height */
    color: #424D59;
    }
    .loginforgot>.form-forgot > form > button{

        position: absolute;
        margin: auto;
        bottom: 0px;
        top: 1-00px;
        left: 0px !important;


    }

    .form-forgot > form > .mb-3.input-group {
        width: 400px !important;
    }

    .loginforgot>.form-forgot > form > button {
        position: absolute;
        margin: auto;
        bottom: 0px;
        top: 250px;
        left: 0px !important;
    }

    .loginforgot>.form-forgot > form {
        flex-direction: column;
        width: 600px;
        height: 600px;
        top: -60px;
        position: relative;

    }
    
    .loginforgot>.form-forgot{
    
        width: 600px;
        position: relative;
        margin-top: 0px !important;
        left: -3px;
    }
    
    
    .button-home{
        position: relative;
        width: 300px;
        height: 45px;
        top: 10px;
        margin: auto;
        display: grid;
        
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        
        color: #FFFFFF;
        
        background: #FED141 !important;
        border-radius: 2px;
        border-color: #FED141 !important;
        border-radius: 2px;
    }
    
    .button-prosseguir{
        position: relative;
        width: 300px;
        height: 45px;
        top: 195px;
        margin: auto;
        
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        
        color: #FFFFFF;
        
        background: #FED141 !important;
        border-radius: 2px;
        border-color: #FED141 !important;
    }
    
    .criar{
        position: relative;
    width: 300px;
    height: 20px;
    left: 0;
    margin: auto;
    top: 35px;
    
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    
    color: #424D59;
    }
    
    .form-forgot {
        position: relative;
        width: 380px;
        height: 85px;
        left: 0px;
        top: 390px;
        margin: auto;
        display: grid;
    
    }
    
    .loginforgot>.barra2 {
    
        position: absolute;
        width: 425px;
        height: 15px;
        left: 0px;
        top: 797px;
    
        background: #FED141;
    }
    


}