.login {
    background: #FFFFFF;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.input-group>.form-control {
    background: transparent !important;
    margin: 0 !important;
}

.login>.barra {

    position: absolute;
    width: 100%;
    height: 15px;
    left: 0px;
    top: -0px;
    display: flex;

    background: #FED141;
}

.Logo-login>img {

    margin: auto;

}

.Logo-login {

    position: relative !important;
    width: 700px !important;
    height: 30px !important;
    left: 0px !important;
    top: -30px !important;
    display: flex;
    margin: auto;
    display: grid;


}

.App-texto>b {
    color: #000;
}

.App-texto>h3 {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 28px;
    text-align: center;
    color: #424D59;
}

.App-texto {

    position: relative;
    width: 700px;
    height: 54px;
    left: 0px;
    top: -30px;
    font-size: 35px;
    margin: auto;
}

#basic-addon1 {
    background-color: #fff;
    border: #fff;
    box-shadow: 0px 2px 0px 0px #000;
    border-radius: 0px;

}
.login>.form>form>a{
    text-decoration: none !important;

}

.login>.form>form>button > b, .login>.form>form>a>button > b{

    position: relative !important;
    top: 2px !important;

}

.form-control {
    background-color: #fff;
    border: #fff !important;
    box-shadow: 0px 2px 0px 0px #000;
    border-radius: 0px !important;

}

svg {
    color: #FED141;
}

.esquece-senha {
    position: relative;
    width: 175px;
    height: 18px;
    left: 195px;
    top: -10px;
    text-align: right;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
    /* identical to box height */
    color: #424D59;
}

.login>.form>form>button {
    left: 0px;
    position: relative !important;
    display: grid;
    width: 300px;
    margin: 20px 0px;
}

.login>.form>form>a>button {
    right: 0px !important;
    position: absolute !important;
    display: grid;
    width: 300px;
    bottom: -200px;
}


.login>.form>form>a>p {

    width: 700px;
    height: 10px;
    margin: auto;
    display: grid;
    position: relative;
    top: 5px;
    left: 0px;




}

.login>.form>form {
    width: 700px;

}

.login>.form {

    width: 700px;
    height: 500px;
    position: relative;
    margin: auto;
    display: grid;
    margin: 0px;
}




.button-home {
    position: relative;
    width: 300px;
    height: 45px;
    top: 10px;
    margin: auto;
    display: grid;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;

    color: #FFFFFF;

    background: #FED141 !important;
    border-radius: 2px;
    border-color: #FED141 !important;
    border-radius: 2px;
}

.button-create {
    position: relative;
    width: 300px;
    height: 45px;
    top: 60px;
    margin: auto;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;

    color: #FFFFFF;

    background: #FED141 !important;
    border-radius: 2px;
    border-color: #FED141 !important;
}

.criar {
    position: relative;
    width: 300px;
    height: 20px;
    left: 0;
    margin: auto;
    top: 35px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;

    color: #424D59;
}

.form {
    position: relative;
    width: 380px;
    height: 85px;
    left: 0px;
    top: 0px !important;
    margin: auto;
    display: grid;

}

.login>.barra2 {

    position: absolute;
    width: 100%;
    height: 15px;
    left: 0px;
    bottom: 0;

    background: #FED141;
}



@media (min-width:991px) and (min-width:1200px) {



    .login {
        background: #FFFFFF;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
    }
    
    .input-group>.form-control {
        background: transparent !important;
        margin: 0 !important;
    }
    
    .login>.barra {
    
        position: absolute;
        width: 100%;
        height: 15px;
        left: 0px;
        top: -0px;
        display: flex;
    
        background: #FED141;
    }
    
    .Logo-login>img {
    
        margin: auto;
    
    }
    
    .Logo-login {
    
        position: relative !important;
        width: 700px !important;
        height: 30px !important;
        left: 0px !important;
        top: -30px !important;
        display: flex;
        margin: auto;
        display: grid;
    
    
    }
    
    .App-texto>b {
        color: #000;
    }
    
    .App-texto>h3 {
    
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 28px;
        text-align: center;
        color: #424D59;
    }
    
    .App-texto {
    
        position: relative;
        width: 700px;
        height: 54px;
        left: 0px;
        top: -30px;
        font-size: 35px;
        margin: auto;
    }
    
    #basic-addon1 {
        background-color: #fff;
        border: #fff;
        box-shadow: 0px 2px 0px 0px #000;
        border-radius: 0px;
    
    }
    
    .form-control {
        background-color: #fff;
        border: #fff !important;
        box-shadow: 0px 2px 0px 0px #000;
        border-radius: 0px !important;
    
    }
    
    svg {
        color: #FED141;
    }
    
    .esquece-senha {
        position: relative;
        width: 175px;
        height: 18px;
        left: 195px;
        top: -10px;
        text-align: right;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 18px;
        /* identical to box height */
        color: #424D59;
    }
    
    .login>.form>form>button {
        left: 0px;
        position: relative !important;
        display: grid;
        width: 300px;
        margin: 20px 0px;
    }
    
    .login>.form>form>a>button {
        right: 0px !important;
        position: absolute !important;
        display: grid;
        width: 300px;
        bottom: -200px;
    }
    
    
    .login>.form>form>a>p {
    
        width: 700px;
        height: 10px;
        margin: auto;
        display: grid;
        position: relative;
        top: 5px;
        left: 0px;
    
    
    
    
    }
    
    .login>.form>form {
        width: 700px;
    
    }
    
    .login>.form {
    
        width: 700px;
        height: 500px;
        position: relative;
        margin: auto;
        display: grid;
        margin: 0px;
    }
    
    
    
    
    .button-home {
        position: relative;
        width: 300px;
        height: 45px;
        top: 10px;
        margin: auto;
        display: grid;
    
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
    
        color: #FFFFFF;
    
        background: #FED141 !important;
        border-radius: 2px;
        border-color: #FED141 !important;
        border-radius: 2px;
    }
    
    .button-create {
        position: relative;
        width: 300px;
        height: 45px;
        top: 60px;
        margin: auto;
    
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
    
        color: #FFFFFF;
    
        background: #FED141 !important;
        border-radius: 2px;
        border-color: #FED141 !important;
    }
    
    .criar {
        position: relative;
        width: 300px;
        height: 20px;
        left: 0;
        margin: auto;
        top: 35px;
    
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
    
        color: #424D59;
    }
    
    .form {
        position: relative;
        width: 380px;
        height: 85px;
        left: 0px;
        top: 0px !important;
        margin: auto;
        display: grid;
    
    }
    
    .login>.barra2 {
    
        position: absolute;
        width: 100%;
        height: 15px;
        left: 0px;
        bottom: 0;
    
        background: #FED141;
    }
    
    



}





@media (max-width:425px) {


    .login {
        position: relative;
        background: #FFFFFF;
        width: 425px;
        height: 900px !important;
        margin: auto;
        justify-content: center;
        top: 10px;

    }

    .input-group>.form-control {
        background: transparent !important;
        margin: 0 !important;
    }

    .login>.form>form {
        width: 370px;

    }

    .login>.form>form>a>p {

        width: 370px;
        height: 10px;
        margin: auto;
        display: grid;
        position: relative;
        top: 0px;
        left: 0px;




    }

    .login>.barra {

        position: absolute;
        width: 425px;
        height: 15px;
        left: 0px;
        top: -10px;
        display: flex;

        background: #FED141;
    }

    .Logo-login {

        position: absolute;
        width: 140px !important;
        height: 27.25px;
        left: 145px;
        top: -100px !important;


    }

    .App-texto>b {
        color: #000;
    }

    .App-texto>h3 {

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 28px;
        text-align: center;
        color: #424D59;
    }

    .App-texto {

        position: relative;
        width: 380px;
        height: 54px;
        left: 0px;
        top: -50px;
        margin: auto;
    }

    #basic-addon1 {
        background-color: #fff;
        border: #fff;
        box-shadow: 0px 2px 0px 0px #000;
        border-radius: 0px;

    }

    .form-control {
        background-color: #fff;
        border: #fff !important;
        box-shadow: 0px 2px 0px 0px #000;
        border-radius: 0px !important;

    }

    svg {
        color: #FED141;
    }

    .esquece-senha {
        position: relative;
        width: 175px;
        height: 18px;
        left: 195px;
        top: -10px;
        text-align: right;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 18px;
        /* identical to box height */
        color: #424D59;
    }

    .login>.form {

        width: 370px;
        height: 350px;
        position: relative;
        margin-top: 0px;
    }

    .login>.form>form>p {
        position: relative;
        top: 20px;

    }

    .login>.form>form>button {
        left: 0px;
        position: relative !important;
        display: grid;
        width: 300px;
        margin: 30px auto;
    }

    .login>.form>form>a>button {
        right: 0px !important;
        position: relative !important;
        display: grid;
        width: 300px;
        margin: auto;

    }




    .button-home {
        position: relative;
        width: 300px;
        height: 45px;
        top: 10px;
        margin: auto;
        display: grid;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;

        color: #FFFFFF;

        background: #FED141 !important;
        border-radius: 2px;
        border-color: #FED141 !important;
        border-radius: 2px;
    }

    .button-create {
        position: relative;
        width: 300px;
        height: 45px;
        top: 60px;
        margin: auto;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;

        color: #FFFFFF;

        background: #FED141 !important;
        border-radius: 2px;
        border-color: #FED141 !important;
    }

    .criar {
        position: relative;
        width: 300px;
        height: 20px;
        left: 0;
        margin: auto;
        top: 35px;

        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;

        color: #424D59;
    }

    .form {
        position: relative;
        width: 380px;
        height: 85px;
        left: 0px;
        top: 417px;
        margin: auto;
        display: grid;

    }

    .login>.barra2 {

        position: absolute;
        width: 425px;
        height: 15px;
        left: 0px;
        bottom: 0;

        background: #FED141;
    }

}




@media (max-width:991px) and (min-width:426px) {


    .login {
        position: relative;
        background: #FFFFFF;
        width: 991px;
        min-height: 140vh !important;
        margin: auto;
        justify-content: center;
        top: 10px;

    }

    .input-group>.form-control {
        background: transparent !important;
        margin: 0 !important;
    }

    .login>.form>form {
        width: 700px;

    }

    .login>.form>form>a>p {

        width: 700px;
        height: 10px;
        margin: auto;
        display: grid;
        position: relative;
        top: 0px;
        left: 0px;




    }

    .login>.barra {

        position: absolute;
        width: 991px;
        height: 15px;
        left: 0px;
        top: -10px;
        display: flex;

        background: #FED141;
    }

    .Logo-login {

        position: absolute;
        width: 140px !important;
        height: 27.25px;
        left: 145px;
        top: -100px !important;


    }

    .App-texto>b {
        color: #000;
    }

    .App-texto>h3 {

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 28px;
        text-align: center;
        color: #424D59;
    }

    .App-texto {

        position: relative;
        width: 600px;
        height: 54px;
        left: 0px;
        top: -50px;
        margin: auto;
    }

    #basic-addon1 {
        background-color: #fff;
        border: #fff;
        box-shadow: 0px 2px 0px 0px #000;
        border-radius: 0px;

    }

    .form-control {
        background-color: #fff;
        border: #fff !important;
        box-shadow: 0px 2px 0px 0px #000;
        border-radius: 0px !important;

    }

    svg {
        color: #FED141;
    }

    .esquece-senha {
        position: relative;
        width: 175px;
        height: 18px;
        left: 195px;
        top: -10px;
        text-align: right;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 18px;
        /* identical to box height */
        color: #424D59;
    }

    .login>.form {

        width: 700px;
        height: 600px;
        position: relative;
        margin-top: 0px;
        margin: auto;
    }

    .login>.form>form>p {
        position: relative;
        top: 20px;

    }

    .login>.form>form>button {
        left: 0px;
        position: relative !important;
        display: grid;
        width: 400px;
        margin: 30px auto;
    }

    .login>.form>form>a>button {
        right: 0px !important;
        position: relative !important;
        display: grid;
        width: 400px;
        margin: auto;

    }




    .button-home {
        position: relative;
        width: 300px;
        height: 45px;
        top: 10px;
        margin: auto;
        display: grid;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;

        color: #FFFFFF;

        background: #FED141 !important;
        border-radius: 2px;
        border-color: #FED141 !important;
        border-radius: 2px;
    }

    .button-create {
        position: relative;
        width: 300px;
        height: 45px;
        top: 60px;
        margin: auto;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;

        color: #FFFFFF;

        background: #FED141 !important;
        border-radius: 2px;
        border-color: #FED141 !important;
    }

    .criar {
        position: relative;
        width: 300px;
        height: 20px;
        left: 0;
        margin: auto;
        top: 35px;

        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;

        color: #424D59;
    }

    .form {
        position: relative;
        width: 380px;
        height: 85px;
        left: 0px;
        top: 417px;
        margin: auto;
        display: grid;

    }

    .login>.barra2 {

        position: absolute;
        width: 991px;
        height: 15px;
        left: 0px;
        bottom: 0;

        background: #FED141;
    }

}