.trofeus {
    width: 100%;
    min-height: 100vh;
    background-color: #FFFFFF;
    position: relative;
    flex-direction: column;
    display: flex;
    top: 5px
}

.trofeus>div>.barra-alta-home {
    position: relative !important;
    width: 100%;
    height: 65px;
    left: 0px;
    top: 0px;
    display: flex;
    margin: auto;
    z-index: 3000;
}

.trofeus > a > .perfil {
    width: 900px;
    height: 400px;
    margin: 40px auto;
    position: relative;
    left: 0px;
}

.trofeus>.barra-fixed {
    position: fixed !important;
    width: 100%;
    height: 65px;
    z-index: 3000;
    top: 0px;
    background-color: #FED141;
}

.trofeus-div {
    width: 500px;
    height: 450px;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    top: -40px;
}

.trofeus-div>.list-group {
    width: 500px;
    margin: auto;


}

.trofeus-div>.list-group>li {
    margin: 2px;
    width: 500px;
    background-color: #FED141;
    color: #fff;
    border: 1px solid #929DA9;


}

.badge.rounded-pill.bg-primary {
    background-color: #FFFFFF !important;
    color: #929DA9;
}



.fw-bold>svg {

    color: #FFFFFF;
    width: 20px;
    position: absolute;
    height: 20px;
    right: 70px;
    margin: 3px 0px;



}

.fw-bold {
    color: #fff;
    text-align: left;




}



.trofeus-div-ponto>div>b {

    font-size: 40px;
    display: flex;
    margin: auto;
    background-color: #FED141;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #929DA9;


}

.trofeus-div-ponto>div {

    width: 350px;
    height: 300px;
    margin: auto;
    display: flex;
    position: relative;
    top: 40px;
    left: 0px;
    flex-direction: column;
    font-size: 30px;
    background-color: #FED141;
    padding: 20px;



}

.trofeus-div-ponto {
    width: 500px;
    height: 400px;
    margin: auto;
    color: #fff;
    position: relative;
    top: -40px;
}

@media (max-width:1200px) and (min-width:991px) {

    .trofeus > a > .perfil {
        width: 600px;
        height: 400px;
        margin: 40px auto;
        position: relative;
        left: 0px;
    }
    
}

@media (max-width:425px) {

    .trofeus {
        width: 425px;
        height: 950px;
        background-color: #FFFFFF;
        position: relative;
        flex-direction: column;
        display: flex;
        top: 5px
    }

    .trofeus>div>.barra-alta-home {
        position: relative !important;
        width: 425px;
        height: 65px;
        left: 0px;
        top: 10px;
        display: flex;
        margin: auto;
        z-index: 3000;
    }


    .trofeus>.barra-fixed {
        position: fixed !important;
        width: 425px;
        height: 65px;
        z-index: 3000;
        top: 0px;
        background-color: #FED141;
    }

    .trofeus-div {
        width: 370px;
        height: 450px;
        margin: auto;
        flex-wrap: wrap;
        display: flex;
        position: relative;
    }

    .trofeus-div>.list-group {
        width: 370px;


    }

    .trofeus-div>.list-group>li {
        margin: 7px 0px;
        width: 370px;
        background-color: #FED141;
        color: #fff;
        border: 1px solid #929DA9;


    }

    .badge.rounded-pill.bg-primary {
        background-color: #FFFFFF !important;
        color: #929DA9;
    }



    .fw-bold>svg {

        color: #FFFFFF;
        width: 20px;
        position: absolute;
        height: 20px;
        right: 70px;
        margin: 3px 0px;



    }

    .fw-bold {
        color: #fff;
        text-align: left;




    }



    .trofeus-div-ponto>div>b {

        font-size: 40px;
        display: flex;
        margin: auto;
        background-color: #FED141;
        width: 40px;
        height: 40px;
        text-align: center;
        color: #929DA9;


    }

    .trofeus-div-ponto>div {

        width: 350px;
        height: 200px;
        margin: auto;
        display: flex;
        position: relative;
        top: 40px;
        left: 0px;
        flex-direction: column;
        font-size: 30px;



    }

    .trofeus-div-ponto {
        width: 370px;
        height: 300px;
        margin: auto;
        background-color: yellowgreen;
        background-color: #FED141;
        color: #fff;
    }

}




@media (max-width:991px) and (min-width:426px) {

    .trofeus {
        width: 991px;
        height: 812px;
        background-color: #FFFFFF;
        position: relative;
        flex-direction: column;
        display: flex;
        top: 5px
    }

    .trofeus>div>.barra-alta-home {
        position: relative !important;
        width: 991px;
        height: 85px;
        left: 0px;
        top: 10px;
        display: flex;
        margin: auto;
        z-index: 3000;
    }


    .trofeus>.barra-fixed {
        position: fixed !important;
        width: 991px;
        height: 85px;
        z-index: 3000;
        top: 0px;
        background-color: #FED141;
    }

    .trofeus-div {
        width: 500px;
        height: 550px;
        margin: auto;
        flex-wrap: wrap;
        display: flex;
        position: relative;
        top: -20px;
    }

    .trofeus-div>.list-group {
        width: 500px;
        height: 550px;



    }

    .tarefas-jogos {
        width: 600px;
        height: 300px;
        margin: auto;
        flex-wrap: wrap;
        display: flex;
        position: relative;
        top: 20px;
    }

    .trofeus-div>.list-group>li {
        margin: 7px 0px;
        width: 500px;
        background-color: #FED141;
        color: #fff;
        border: 1px solid #929DA9;


    }

    .badge.rounded-pill.bg-primary {
        background-color: #FFFFFF !important;
        color: #929DA9;
    }



    .fw-bold>svg {

        color: #FFFFFF;
        width: 20px;
        position: absolute;
        height: 20px;
        right: 70px;
        margin: 3px 0px;



    }

    .fw-bold {
        color: #fff;
        text-align: left;




    }



    .trofeus-div-ponto>div>b {

        font-size: 40px;
        display: flex;
        margin: auto;
        background-color: #FED141;
        width: 40px;
        height: 40px;
        text-align: center;
        color: #929DA9;


    }

    .trofeus-div-ponto>div {

        width: 350px;
        height: 200px;
        margin: auto;
        display: flex;
        position: relative;
        top: 40px;
        left: 0px;
        flex-direction: column;
        font-size: 30px;



    }

    .trofeus-div-ponto {
        width: 370px;
        height: 500px;
        margin: auto;
        top: 10px;
        color: #fff;
        position: relative;
    }

}